<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moocahub.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Mooca Hub</name>
  <description>App do bairro da Mooca</description>
  <author href="https://github.com/g6connecti/mooca-hub" email="seuemail@example.com">Luiz Agarelli</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <preference name="ScrollEnabled" value="false" />
  <preference name="android-minSdkVersion" value="19" />
  <preference name="BackupWebStorage" value="none" />
  <platform name="android">
    <allow-intent href="market:*" />
    <icon src="imagens/icon-192.png" density="mdpi" />
    <icon src="imagens/icon-512.png" density="xhdpi" />
    <!-- Adicione mais tamanhos de ícone se tiver -->
  </platform>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="1.3.5" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="latest" />
</widget>
